@model ContosoUniversity.Models.ResultViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._studentDetail.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._studentDetail.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._studentDetail.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._studentDetail.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._studentDetail.EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._studentDetail.EnrollmentDate)
        </dd>
    </dl>
    <table>
        <tr>
            <td>
                <b>Grade</b>
            </td>
        </tr>

        @foreach (var enrollment in Model._enrollmentDetails)
        {
            <tr>
                <td>
                    @enrollment.Grade
                </td>
            </tr>
        }
    </table>
    <table>
        <tr>
            <td>
                <b>Courses</b>
            </td>
        </tr>

        @foreach (var course in Model._courseDetails)
        {
            <tr>
                <td>
                    @course.Title
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model._studentDetail.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
